In [2]:
import pandas as pd

In [5]:
def find_most_frequent(x):
    return pd.Series(x).value_counts().index[0]

a = pd.DataFrame({"a": [1, 1, 1, 3, 4], "b": [1, 42, 42, 4, 5]}, index=range(100,105))
display(a)
a.groupby(["a"]).agg({"b": find_most_frequent})

     a   b
100  1   1
101  1  42
102  1  42
103  3   4
104  4   5

    b
a
1  42
3   4
4   5

In [10]:
# uses smallest number if several elements have same count
a = pd.Series([0, 42, 42, 1, 1, 0], index=range(100,106))
display(a)
a.value_counts().index[0]

100     0
101    42
102    42
103     1
104     1
105     0
dtype: int64

0

In [14]:
# uses smallest number if several elements have same count
import numpy as np
a = pd.Series([np.nan] * 10 + [1])
display(a)
a.value_counts().index[0]
a = pd.Series([np.nan] * 10)
display(a)
a.value_counts().index[0]

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    1.0
dtype: float64

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
dtype: float64

IndexError: index 0 is out of bounds for axis 0 with size 0